li {
  list-style: none;
}

.home input {
  max-width: 200px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.home ul {
  padding-left: 0;
}

.home button {
  background-color: aquamarine;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  height: 50px;
}
