.card {
  min-width: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card p {
  font-size: 32px;
  color: yellow;
  font-weight: 500;
  margin: 0;
}

.card .crossed {
  text-decoration: line-through;
  color: blue;
}
